<dl id="comment-list">
  <% if entry.comments.size > 0 %>
    <ol>
      <% entry.comments.reverse.map.with_index(1) do |comment, i| %>
        <li class="comment">
            <header class="comment-header">
                <p class="name">
                    <%= link_to_unless comment.homepage.blank?, comment.name, comment.homepage %>
                    <span class="date"><%=l comment.created_at %></span>
                </p>
            </header>
            <div class="comment-body">
                <%= hbr comment.body %>
            </div>
        </li>
        <% if entry.comments.size > i %>
            <hr>
        <% end %>
      <% end %>
    </ol>
  <% end %>
</dl>
<div class="comment-form">
    <%= comment_form %>
</div>
